<section class="symptoms block">
	<div class="container">
		<h2 class="title">Сомневаетесь, есть ли у вас паразиты?</h2>
		<div class="symptoms__wrap">
			<div class="symptoms__slider">
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-1.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						У вас <span class="symptoms__desc-accent">болит живот</span>, случается запор или&nbsp;диарея
					</p>
				</div>
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-2.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						На коже <br> появляется <span class="symptoms__desc-accent">сыпь</span>, раздражения, зуд
					</p>
				</div>
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-3.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						У вас стало <br> <span class="symptoms__desc-accent">меньше энергии</span>, <br> вы быстро устаете
					</p>
				</div>
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-4.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						У вас болят и&nbsp;воспаляются <span class="symptoms__desc-accent">суставы</span>
					</p>
				</div>
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-5.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						Вы иногда ощущаете <span class="symptoms__desc-accent">стресс</span> и тревогу		
					</p>
				</div>
				<div class="symptoms__slider-item">
					<div class="symptoms__pic">
						<img src="img/symptoms-6.png" alt="" class="symptoms__img">
					</div>
					<p class="symptoms__desc">
						У вас выпадают <span class="symptoms__desc-accent">волосы</span>, ломаются или слоятся ногти
					</p>
				</div>
			</div>	
		</div>
		<div class="symptoms__footnote">
			Паразитам все равно, какой у вас пол, возраст или социальный статус:
			<span class="symptoms__footnote-accent">по статистике ими заражено более 74% человечества</span>			
		</div>
	</div>
</section>