<section class="harmful block">
	<div class="container">
		<h2 class="title">Почему паразиты <br>так губительны для организма?</h2>
		<div class="harmful__desc">
			<p class="harmful__desc-col">Паразиты не только поглощают запасы ваших питательных веществ, вызывают аллергии и поражают кишечник, печень, легкие, глаза, мозг.</p>
			<p class="harmful__desc-col">Они <b>ежедневно отравляют ваш организм</b> продуктами своей жизнедеятельности — <b>токсинами. В итоге</b> организм самостоятельно не справляется с очищением и&nbsp;<span class="red">“забивается” шлаками.</span></p>
		</div>
		<div class="harmful__info">
			<div class="harmful__list harmful__list-1">
				<div class="harmful__item harmful-dishes">
					<div class="harmful__item-text">
						<p class="harmful__place-name">На посуде</p>
						<p class="harmful__kind-name"><i>широкий лентец</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-1.jpg" alt="">
					</div>
				</div>
				<div class="harmful__item harmful-hands">
					<div class="harmful__item-text">
						<p class="harmful__place-name">На руках</p>
						<p class="harmful__kind-name"><i>острицы</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-2.jpg" alt="">
					</div>
				</div>
				<div class="harmful__item harmful-shoes">
					<div class="harmful__item-text">
						<p class="harmful__place-name">На обуви</p>
						<p class="harmful__kind-name"><i>аскариды</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-3.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="harmful__list harmful__list-2">
				<div class="harmful__item harmful-air">
					<div class="harmful__item-text">
						<p class="harmful__place-name">В воздухе</p>
						<p class="harmful__kind-name"><i>эхинококк</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-4.jpg" alt="">
					</div>
				</div>
				<div class="harmful__item harmful-water">
					<div class="harmful__item-text">
						<p class="harmful__place-name">В воде</p>
						<p class="harmful__kind-name"><i>лямблии</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-5.jpg" alt="">
					</div>
				</div>
				<div class="harmful__item harmful-food">
					<div class="harmful__item-text">
						<p class="harmful__place-name">В еде</p>
						<p class="harmful__kind-name"><i>бычий цепень</i></p>
					</div>
					<div class="harmful__item-img">
						<img class="harmful__kind-img" src="./img/harmful__kind-img-6.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="harmful__img">
				<img src="./img/harmful__img.jpg" alt="">
			</div>
		</div>
		<p class="harmful__so">Поэтому:</p>
		<p class="harmful__conclusion">Недостаточно <b>избавиться только от паразитов.</b> <br>Для полного выздоровления необходимо <b>очистить организм от токсинов и шлаков.</b></p>
	</div>
</section>