<section class="about block">
	<div class="container">
		<h2 class="title">Очищение организма с гелем  <span class="green">Helmion</span> – залог&nbsp;крепкого здоровья вашей семьи</h2>
		<div class="about__wrap">
			<ul class="about__list">
				<li class="about__item">
					<p class="about__item-desc">
						<span class="about__item-accent">Уничтожает 94% видов паразитов и их яиц –</span> они&nbsp;больше&nbsp;не крадут ваши силы и здоровье. Кожа становится чистой и сияющей.
					</p>
				</li>
				<li class="about__item">
					<p class="about__item-desc">
						<span class="about__item-accent">Эффективно выводит токсины и шлак –</span> уходят аллергии, хронические болезни, у вас появляется ясность ума, легкость в организме, и много энергии.
					</p>
				</li>
				<li class="about__item">
					<p class="about__item-desc">
						<span class="about__item-accent">Создает в организме здоровую среду,</span> губительную для паразитов – вы защищены от повторного заражения
					</p>
				</li>
			</ul>
			<div class="about__main">
				<div class="about__main-product">
					<div class="about__main-prompt">
						Разрешен детям от 12 лет
					</div>
					<div class="about__product">
						<div class="about__pack">
							<img src="img/prod-1.png" alt="" class="about__package">
							<img src="img/prod-2.png" alt="" class="about__stick">
						</div>
					</div>
				</div>
				<div class="about__form">
					<div class="form">
						<div class="form__head">
							<p class="form__title">Успейте заказать <span class="nowrap">со скидкой</span> <span class="green">до <span class="date-0">15.01.2019</span></span></p>
							<div class="price">
								<div class="price__old">
									<div class="price__title">Старая цена</div>
									<div class="price__value">
										<span class="price__number x_price_previous">1980</span><span class="price__currency x_currency">руб.</span>
									</div>
								</div>
								<div class="price__new">
									<div class="price__title">Новая цена</div>
									<div class="price__value">
										<span class="price__number x_price_current">990</span>
										<span class="price__currency x_currency">руб</span>
										<span class="price__star">*</span>
									</div>
								</div>
							</div>
							<p class="form__lastpack">Осталось упаковок со скидкой: <span class="green">15</span></p>
						</div>
						<div class="form__body">
							<form action="/submit" method="post" class="x_order_form">
								<label class="form__label-name form__label">
									<input class="form__input" type="text" name="name" placeholder="Моё имя" required autocomplete="name">
								</label>
								<label class="form__label-phone form__label">
									<input class="form__input" type="tel" name="phone" placeholder="Мой телефон" required autocomplete="tel">
								</label>
								<button class="form__btn btn">Заказать <span class="btn__small">со скидкой</span></button>
							</form>
							<p class="form__footnote">* при заказе курса</p>
						</div>
						<div class="form__footer">
							<p class="form__payment-after">Оплата после получения</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about__footer">
			<ul class="about__footer-list">
				<li class="about__footer-item">
					<div class="about__footer-pic">
						<img src="img/about-1.png" alt="" class="about__footer-img">
					</div>
					<div class="about__footer-icon about__footer-icon_child"></div>
					<p class="about__footer-desc">
						<span class="about__footer-accent">Вкусный</span> <br> нравится детям!
					</p>
				</li>
				<li class="about__footer-item_decor"></li>
				<li class="about__footer-item">
					<div class="about__footer-pic">
						<img src="img/about-2.png" alt="" class="about__footer-img">
					</div>
					<div class="about__footer-icon about__footer-icon_mom"></div>
					<p class="about__footer-desc">
						<span class="about__footer-accent">Безопасный</span> <br> нравится мамам!
					</p>
				</li>
				<li class="about__footer-item_decor"></li>
				<li class="about__footer-item">
					<div class="about__footer-pic">
						<img src="img/about-3.png" alt="" class="about__footer-img">
					</div>
					<div class="about__footer-icon about__footer-icon_dad"></div>
					<p class="about__footer-desc">
						<span class="about__footer-accent">Эффективный</span> <br> нравится папам!
					</p>
				</li>
				<li class="about__footer-item_decor"></li>
				<li class="about__footer-item">
					<div class="about__footer-pic">
						<img src="img/about-4.png" alt="" class="about__footer-img">
					</div>
					<div class="about__footer-icon about__footer-icon_grandma"></div>
					<p class="about__footer-desc">
						<span class="about__footer-accent">Экономный</span> <br> нравится бабушкам!
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>