<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">Отзывы наших клиентов</h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-1.jpg" alt="">
				</div>
				<h3 class="reviews__name">Максим, 37 лет</h3>
				<p class="reviews__city">г. Ярославль</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Появилось очень много энергии</p>
					<p class="reviews__text">Решил пройти курс хельмион, после того, как три недели подряд чувствовал себя без сил. Энергии вообще не было, настроение ужасно. Я утром просыпался и уже чувствовал себя уставшим <br>и разбитым. Рассказала об этом знакомому врачу, а он такая <br>и говорит, что это похоже <br>на непрошенных гостей – глистов. <br>И порекомендовал мне Хельмион, которым сам недавно от них чистился. Заказал я его и стал чиститься. Через недельку уже почувствовал себя лучше. Настроение, энергия и аппетит нормальный стал. Никогда б не подумал, что глисты так могут жизнь попортить.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-2.jpg" alt="">
				</div>
				<h3 class="reviews__name">Мария, 43 года</h3>
				<p class="reviews__city">г. Тверь</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Дети перестали болеть</p>
					<p class="reviews__text">Мои детки-подростки, Дима и Катя стали болеть часто. Постоянно чихали, простуживались. А я им <br>и витамины, и лекарства разные, <br>но ничего не помогало. Только выздоравливали немного, как через пару дней опять сопли ручьем и чихи. Пошли мы в больницу, там деток осмотрели и спросили, когда <br>мы последний раз от паразитов чистились. Я сначала не поняла, <br>при чем тут глисты, а врач мне и сказал, что они иммунитет снижают. Посоветовал нам всем гель хельмион. Сказал, что уйдут паразиты и с ними и простуда уйдет. Так и произошло, но вот до сих пор удивляюсь, что глисты простуду притягивают. А Димка и Катя за две с половиной недели выздоровели и больше не простужались пока.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__comparison">
					<p class="reviews__before">до</p>
					<div class="reviews__img">
						<img src="./img/reviews__img-3.jpg" alt="">
					</div>
					<p class="reviews__after">после</p>
					<div class="reviews__img">
						<img src="./img/reviews__img-4.jpg" alt="">
					</div>
				</div>
				<h3 class="reviews__name">Тоня, 32 года</h3>
				<p class="reviews__city">г. Волгоград</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Кожа стала здоровая <br><span class="nowrap">и красивее,</span> чем раньше</p>
					<p class="reviews__text">Я глистами заразилась от бродячего песика. Очень люблю животных <br>и постоянно их подкармливаю <br>и глажу. У меня началась аллергия <br>на плечах – сыпь появилась и сильно чесались эти места. Я сначала подумала, что это лишай, <br>но в больнице сказали, что нет <br>и прописали мазь какую-то. Мазь зуд устраняла, но саму сыпь – нет. <br>Ну я и подумала, что надо где-то месяц, чтоб оно прошло. А потом я зашла домой, а у меня родители смотрели передачу про глистов. Я с мамой разговорилась и краем уха услышала, что глисты вызывают кожную сыпь. И подумала, а вдруг это глисты. Средство хельмион я нашла за час где-то, просто посидела на форумах и комменты почитала. Людям этот гель помог. Дальше все просто: заказала – пропила курс – глистов вывела – сыпь прошла. С животными теперь осторожней себя веду, покормила и сразу же руки антисептиком обработала.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-5.jpg" alt="">
				</div>
				<h3 class="reviews__name">Константин, 56 лет</h3>
				<p class="reviews__city">г. Киров</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Перестал объедаться по ночам</p>
					<p class="reviews__text">Я страшно переедал. Приходил <br>домой и нападал на еду. <br>Но не поправлялся. Думал, <br>что у меня быстрый обмен веществ. <br>А были у меня быстрые и голодные глисты. Лечился сразу Хелмионом. Вылечился с горем по полам. Разбавлял гель в 1,5 л бутылки воды и пил в течении дня. За неделю никакого эффекта. Перечитал инструкцию и понял свою ошибку – надо или полностью гель съедать. Или в стакане воды разбавлять, но ПИТЬ СРАЗУ И ПОЛНОСТЬЮ! Когда стал по инструкции применять – объедаться перестал. Глистов вывел.</p>
				</div>	
				<button class="reviews__btn">Показать больше</button>
			</div>
			<div class="reviews__item">
				<div class="reviews__comparison">
					<p class="reviews__before">до</p>
					<div class="reviews__img">
						<img src="./img/reviews__img-6.jpg" alt="">
					</div>
					<p class="reviews__after">после</p>
					<div class="reviews__img">
						<img src="./img/reviews__img-7.jpg" alt="">
					</div>
				</div>
				<h3 class="reviews__name">Катя, 27 лет</h3>
				<p class="reviews__city">г. Самара</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Смогла похудеть и снова влезаю <br>в любимые джинсы</p>
					<p class="reviews__text">Я долго пыталась похудеть. Диеты <br>не помогали, всякие чаи тоже. <br>В итоге сходила к специалисту, <br>она меня обследовала и сказала, <br>что не могу похудеть из-за глистов. Да, да! Из-за глистов – они травят организм токсинами и шлаками <br>и это не дает организму моему нормально справляться с лишним весом. Я спросила, чем сейчас <br>этих гадов из организма выпроваживают. Мне сказали, что Хельмионом. Я заказала его быстренько и стала принимать. Это гель, если кто не знает. Его можно так употреблять, а можно с водой размешивать. Я так его пила. Вкус не противный и быстро привыкаешь. Сначала не было никакого результата. А спустя 3 недели смотрю, а килограммы-то уходят! Сейчас довольная, похудела и ношу одежку любимую и джинсы мои дорогие и красивые.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-8.jpg" alt="">
				</div>
				<h3 class="reviews__name">Алена, 48 лет</h3>
				<p class="reviews__city">г. Минск</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Ребенок на отлично сдал сессию</p>
					<p class="reviews__text">Когда Максим, дите мое университетское стало, плохо учится и завалило сессию я сначала подумала, что это наркотики. Подумала, попал в плохую компанию и ему теперь не до учебы. Но странно было то, что я ж видела, <br>что он старается учиться каждый вечер. Сидит над книгами, рефераты пишет. Поговорила с ним. Тогда <br>к его невнимательности еще добавились боли в животе. Вот тогда и ясно стало, что плохая компания завелась у него внутри – глисты. Я позвонила подруге, она у меня терапевт, и спросила, чем сейчас глисты выводят. Вот она и посоветовала гельмитон. Сказала, препарат и глистов выводит и яды их, и токсины, и иммунитет поднимает. Купила я его, Максимка его пропил и пересдал сессию на отлично. Я и себе глистов вывела и стала лучше себя чувствовать.</p>
				</div>	
				<button class="reviews__btn">Показать больше</button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-9.jpg" alt="">
				</div>
				<h3 class="reviews__name">Вероника, 55 лет</h3>
				<p class="reviews__city">г. Тамбов</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Препарат хороший, <br>а операторы – нет</p>
					<p class="reviews__text">У меня смешанные чувства <br>о хельмионе. Заказывала две пачки, <br>себе и своему мужу. Заполнила <br>форму, но перезвонили мне через 37 минут! Ну ладно, может много <br>заказов – это не критично. И после разговора я так и не поняла, <br>как правильно пить этот <br>гель. Я его первые дни неправильно принимала – смешивала с водой <br>3 л банки. Только потом муж засомневался и перечитал инструкцию. В итоге кучу стиков были использованы зря. Но потом, конечно, нормально пропили всех глистов вывели. Сам препарат отличный, но сервис – так бизнес не делают.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-10.jpg" alt="">
				</div>
				<h3 class="reviews__name">Карина, 31 год</h3>
				<p class="reviews__city">г. Новгород</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Эффект хороший, но форма <br>выпуска непривычна</p>
					<p class="reviews__text">У нас дома кошка Манька и она, зараза, любит по столу лазить, <br>а это ж для глистов милое дело. <br>Я ждать, пока заражусь не стала <br>и попросила племянника купить <br>что-то от глистов. Ну, он мне и купил хельмион. Это оказалось – гель, если б я знала, что это гель, то не просила бы купить. Мне таблетки, как-то понятнее и привычней. <br>Всю жизнь таблетки пила от глиста, а тут на тебе гель. Может эффект и хороший, на результат не жалуюсь. Но вот хоть убейте мне не удобно гель этот принимать. Вот таблетки – выпил и забыл, все за 1 минутку. А гель, пока весь выдавишь, минут десять пройдет.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-11.jpg" alt="">
				</div>
				<h3 class="reviews__name">Лариса, 29 лет</h3>
				<p class="reviews__city">г. Могилев</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Самый быстрый способ <br>поднять иммунитет</p>
					<p class="reviews__text">На глистов я не проверялась, <br>но чувствовала себя ослабленной и чуть замерзну на улице, так сразу чихать начинала и болеть простудой. Хельмион купила, чтобы иммунитет поднять себе, что и было успешно сделано. До него я много витамины пила, но почему-то изменений <br>в лучшую сторону не было. Наверное, дело было в токсинах и ядах глистов, они травят организм и ослабляют его. Организм просто не может сопротивляться болезням. Сейчас чувствую себя просто прекрасно и не болею уже долго. Просыпаюсь бодрой и в хорошем настроении.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-12.jpg" alt="">
				</div>
				<h3 class="reviews__name">Евгения, 43 года</h3>
				<p class="reviews__city">г. Екатеринодар</p>
				<img class="reviews__logo" src="./img/logo-sign.svg" width="60" alt="">
				<div class="reviews__body">
					<p class="reviews__title">Хорошая профилактика <br>от глистов</p>
					<p class="reviews__text">Мы в семье каждые 3 месяца профилактику делаем от глистов. <br>У нас тесть врач и строго за этим следит. Он нам такие ужасы про глистов порассказывал, что к чистке очень серьезно относимся. В этот <br>раз для профилактики выбрали хельмион. Понравилось, <br>что у препарата сразу несколько эффектов хороших: и глистов выводит, и токсины и шлаки из организма выпроваживает, и иммунитет поднимает. Даже тесть, после того, как изучил его и на нас посмотрел – здоровых и активных, хельмион попробовал. На глистов не жалуемся. Как говорит тесть – иммунитет высокий – ни одна болячка не прицепится.</p>
				</div>
				<button class="reviews__btn">Показать больше</button>	
			</div>
		</div>
	</div>
</section>