<section class="components block">
	<div class="container">
		<h2 class="title">Сила натуральных компонентов геля<br> <span class="green">Helmion</span>
			<span class="subtitle">против паразитов и продуктов их жизнедеятельности</span>
		</h2>
		<div class="components__prods">
			<img class="components__prod-1" src="./img/prod-1.png" alt="">
			<img class="components__prod-2" src="./img/prod-2.png" alt="">
		</div>
		<ul class="components__list">
			<li class="components__item">
				<div class="components__img">
					<img src="./img/componetns__img-1.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__name">Малотус филиппинский</h3>
					<p class="components__desc">Убивает всех глистов и их яйца <span class="nowrap">и выводит</span> их из организма</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/componetns__img-2.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__name">Эмбелия смородиновая</h3>
					<p class="components__desc">Создает губительную среду для паразитов, поднимает иммунитет</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/componetns__img-3.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__name">Сыть круглая</h3>
					<p class="components__desc">Укрепляет здоровье, восстанавливает и активизирует защитные свойства организма против глистов</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/componetns__img-4.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__name">Кора горького олеандра</h3>
					<p class="components__desc">Нейтрализует и очищает организм <span class="nowrap">от токсинов,</span> ядов паразитов <br>и шлаков</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/componetns__img-5.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__name">Кассия трубчатая</h3>
					<p class="components__desc">Выводит из организма токсины <span class="nowrap">и шлаки,</span> очищает кровь</p>
				</div>
			</li>
		</ul>
		<p class="components__conclusion">
			Растительные экстракты взаимно дополняют и усиливают друг друга 
		</p>
	</div>
</section>