<section class="doctor block">
	<div class="container">
		<h2 class="title">Врачи рекомендуют <span class="green">Helmion</span><br> в 99% случаев заражения паразитами</h2>
		<div class="doctor__tabs">
			<div class="doctor__tab doctor__tab-maria active">Мария Столярова</div>
			<div class="doctor__tab doctor__tab-dima">Дмитрий Усанов</div>
		</div>
		<div class="doctor__content doctor__content-maria active">
			<figure class="doctor__img">
				<img src="./img/doctor__img-1.jpg" alt="">
				<figcaption class="doctor__caption">
					<h3 class="doctor__name">Мария Столярова</h3>
					<p class="doctor__who"><i>ведущий инфекционист частной клиники</i></p>
				</figcaption>
			</figure>
			<div class="doctor__text">
				<h3 class="doctor__quote">“80% болезней человека происходят из-за паразитов”</h3>
				<p>
					Это не многие знают, но 80% всех болезней человека так или иначе связаны с глистами, продуктами их жизнедеятельности и их токсинами.
				</p>
				<p>
					Поэтому, избавление от глистов - это первый и самый важный шаг для выздоровления. Но здесь важно знать, как правильно <b>избавиться от глистов.</b> Многие препараты выводят паразитов, но не выводят их яйца и не выводят токсины и шлаки, которые продолжают отравлять организм. Человек выводит глистов, но он остается без защиты - так как иммунитета у него нет и он снова заражается.
				</p>
				<p>
					Раньше я рекомендовала таблетки против глистов и серьезный курс витаминов. Это стоило дорого, но было эффективно.
				</p>
				<p>
					Сейчас я рекомендую гель против глистов Helmion. Он убивает и <b>выводит 97% видов глистов и их яйца, нейтрализует и очищает организм от токсинов, шлаков и ядов.</b> Восстанавливает иммунитет и создает такую среду, в которой развитие и размножение глистов невозможно.
				</p>
				<p>
					<b>Это отличное средство для всей семьи.</b>
				</p>
			</div>
		</div>
		<div class="doctor__content doctor__content-dima">
			<figure class="doctor__img">
				<img src="./img/doctor__img-2.jpg" alt="">
				<figcaption class="doctor__caption">
					<h3 class="doctor__name">Дмитрий Усанов</h3>
					<p class="doctor__who"><i>терапевт</i></p>
				</figcaption>
			</figure>
			<div class="doctor__text">
				<h3 class="doctor__quote">“Только полное очищение и дезинфекция помогут против глистов”</h3>
				<p>
					Когда ко мне приходят с простудными заболеваниями, болями в животе, слабостью и сыпью, я всегда спрашиваю, когда пациент последний раз проходил профилактику от паразитов.
				</p>
				<p>
					Моя практика убедила меня, что люди недооценивают проблему глистов, а ведь эти паразиты повсюду и заразиться ими очень легко. <b>Деньги, овощи, рыба, общественный транспорт, домашний животные, продукты в магазине и даже мобильные телефоны - все это источники паразитов.</b>
				</p>
				<p>
					Для полной очистки от паразитов нужно подойти комплексно. Убить всех глистов до одного и их яйца, потом нужно вывести все токсины, яды шлаки и продукты жизнедеятельности глистов. А потом нужно быстро поднять иммунитет, чтобы человек, который только от глистов избавился не заразился снова.
				</p>
				<p>
					Именно для этих целей и был создан <b class="green">Helmion</b>. 
				</p>
				<p>
					<b>Продукт это полностью натуральный, побочных эффектов у него нет. При этом, он очень эффективный.</b>
				</p>
			</div>
		</div>
	</div>
</section>