<section class="certificates block">
	<div class="container">
		<h2 class="title"><span class="green">Helmion</span> - победитель в номинации<br> “10 лучших средств в паразитологии 2018 года”</h2>
		<ul class="certificates__list">
			<li class="certificates__item">
				<img class="certificates__img" src="./img/certificates__img-1.jpg" alt="">
			</li>
			<li class="certificates__item">
				<img class="certificates__img" src="./img/certificates__img-2.jpg" alt="">
			</li>
			<li class="certificates__item">
				<img class="certificates__img" src="./img/certificates__img-3.jpg" alt="">
			</li>
		</ul>
	</div>
</section>