<section class="how-use block">
	<div class="container">
		<h2 class="title">Три простых шага <br>для избавления от паразитов с <span class="green">Helmion</span></h2>
		<ul class="how-use__list">
			<li class="how-use__item">
				<div class="how-use__img">
					<img src="./img/how-use__img-1.jpg" alt="">
				</div>
				<p class="how-use__text">Разбавить гель <span class="nowrap">в стакане воды</span><br> или выпить в чистом виде</p>
			</li>
			<li class="how-use__item">
				<div class="how-use__img">
					<img src="./img/how-use__img-2.jpg" alt="">
				</div>
				<p class="how-use__text">Принимать 2 раза<br> в день</p>
			</li>
			<li class="how-use__item">
				<div class="how-use__img">
					<img src="./img/how-use__img-3.jpg" alt="">
				</div>
				<p class="how-use__text">Рекомендуемый курс:<br> 30 дней</p>
			</li>
		</ul>
		<div class="how-use__conclusion">
			<p>
				<b>Специалисты напоминают:</b>
				для поддержания результата пользуйтесь антисептическими средствами, тщательно мойте руки после улицы и перед едой, <span class="nowrap">не покупайте</span> еду <span class="nowrap">в несанкционированных</span> для торговли местах
			</p>
		</div>
	</div>
</section>