<section class="how-order block">
	<div class="container">
		<h2 class="title">Как заказать доставку <br> <span class="green">Helmion</span></h2>
		<ul class="how-order__list">
			<li class="how-order__item how-order__item_form">
				<div class="how-order__pic">
					<img src="img/order-1.png" alt="" class="how-order__img">
				</div>
				<div class="how-order__desc">
					<p class="how-order__desc-title">Заполните форму заказа</p>
					<p class="how-order__desc-text">
						Укажите только свое имя и номер телефона
					</p>
				</div>
			</li>
			<li class="how-order__item-stripe"></li>
			<li class="how-order__item how-order__item_call">
				<div class="how-order__pic">
					<img src="img/order-2.png" alt="" class="how-order__img">
				</div>
				<div class="how-order__desc">
					<p class="how-order__desc-title">Ответьте на звонок оператора</p>
					<p class="how-order__desc-text">
						Он уточнит ваши адресные данные
						и ответит на все вопросы о Helmion							
					</p>
				</div>
			</li>
			<li class="how-order__item-stripe"></li>
			<li class="how-order__item how-order__item_pay">
				<div class="how-order__pic">
					<img src="img/order-3.png" alt="" class="how-order__img">
				</div>
				<div class="how-order__desc">
					<p class="how-order__desc-title">Оплатите после получения</p>
					<p class="how-order__desc-text">Никаких предоплат!</p>
				</div>
			</li>
		</ul>
	</div>
</section>