.header {
	position: relative;
	background-image: url(../img/bg.jpg);
	background-position: 50% 60%;
	padding-top: 26px;
	margin-bottom: 149px;
	.container {
		position: relative;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 956px;
	}
	&__logo {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
		padding-left: 68px;
	}
	&__logo-sign {
		height: auto;
		width: 45px;
		position: absolute;
		left: 3px;
		top: -3px;
		svg {
			animation: logoRotate 1s 1;

		}
	}
	&__logo-text {
		height: auto;
		width: 154px;
		margin-right: 14px;
		margin-top: 10px;
	}
	&__logo-desc {
		font-size: 17px;
		line-height: 1.2;
		margin-top: 10px;
		color: $text-gray;
	}
	&__nav {
		margin-top: 23px;
		width: 484px;
	}
	&__nav-list {
		display: flex;
		justify-content: space-between;
		padding-left: 50px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 50px;
			width: 1px;
			background-color: #c0c2c2;
			top: 50%;
			left: 187px;
			transform: translateY(-50%);
		}
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	 .header__nav-list {
	 	justify-content: flex-start;
	 	padding-left: 50px;
	 }
	 .header__nav-item:last-of-type {
	 	margin-left: auto;
	 }
	 .header__logo-sign {
	 	top: -40px;
	 }
	}
	&__link {
		position: relative;
		font-size: 19px;
		color: $text-gray;
		transition: 0.2s;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-image: url(../img/header__icon-1.png);
			background-repeat: no-repeat;
			width: 38px;
			height: 42px;
			top: 50%;
			left: -50px;
			transform: translateY(-50%);
		}
		&-2::before {
			background-image: url(../img/header__icon-2.png);
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 2px;
			height: 1px;
			width: 100%;
			background-image: repeating-linear-gradient(to left, #444 0px, #444 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 11px);
			transition: 0.2s;
		}
	}
	&__link:hover {
		transition: 0.2s;
		&::after {
			opacity: 0;
			bottom: -1px;
			transition: 0.2s;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 47px;
	}
	&__about {
		max-width: 415px;
	}
	&__title {
		font-size: 52px;
		font-weight: 900;
		line-height: 60px;
		margin-top: 2px;
		.green {
			font-size: 65px;
			display: block;
			line-height: 46px;
		}
	}
	&__subtitle {
		margin-top: 10px;
		margin-left: 3px;
		font-size: 25px;
		line-height: 1.2;
		color: #333;
		font-weight: 500;
	}
	&__list {
		margin-top: 24px;
		padding-top: 34px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 5px;
			width: 50px;
			background-color: #fbd010;
			top: 0;
			left: 3px;
		}
		b {
			color: #000;
		}
	}
	&__item {
		padding-left: 69px;
		margin-bottom: 28px;
		position: relative;
		font-size: 22px;
		line-height: 1.2;
		color: $text-gray;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 37px;
			width: 37px;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: #1a988c;
			background-image: url(../img/check-mark.svg);
			background-size: 23px 19px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			box-shadow: 0 0 0 5px rgba(181, 226, 222, 0.62);

		}
	}
	&__age {
		background-color: #fff;
		padding: 14px 23px; 
		display: inline-block;
		border-radius: 7px;
		font-size: 20px;
		font-weight: 500;
		margin-left: 14px;
		margin-top: 5px;
		// box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 18px;
			width: 18px;
			background-color: inherit;
			left: 3px;
			top: 50%;
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
		}
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	&__age {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}
	.form {
		margin-left: auto;
		margin-bottom: 31px;
		
	}
	&__prods {
		position: relative;
		max-width: 468px;
		z-index: 2;
		width: 100%;
		align-self: flex-end;
		right: 35px;
		top: 100px;
		
	}
	&__prod-1 {
		max-width: 465px;
		height: auto;	
	}
	&__prod-2 {
		position: absolute;
		right: -39px;
		bottom: -19px;
		height: auto;
		max-width: 220px;
	}
	&__family {
		position: absolute;
		bottom: 0;
		left: -270px;
		z-index: 0;
		max-width: 715px;
		height: auto;

	}
}

.prod-benefits {
	&__list {
		display: flex;
		justify-content: space-between;
		padding-bottom: 44px;
		box-shadow: 0px 7px 8px -5px rgba(0, 0, 0, 0.1); 
	}
	&__item {
		font-size: 22px;
		font-weight: 400;
		color: $text-gray;
		padding: 12px 0;
		padding-left: 68px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-image: url(../img/header__icon-3.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width:50px;
			height: 50px;
			left: 0;
			bottom: 0px;
			
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			width: 1px;
			background-color: #d0d2d2;
			right: -79px;
			top: 0;
		}
	}
	&__item-2 {
		padding-left: 65px;
		&::before {
			background-image: url(../img/header__icon-4.png);
			height: 56px;
		}
	}
	&__item-3 {
		margin-right: 9px;
		padding-left: 64px;
		&::before {
			background-image: url(../img/header__icon-5.png);
			height: 53px;
		}
		&::after {
			display: none;
		}
	}
	
}
@media screen and (max-width: 1400px){
  .header {
  	margin-bottom: 54px;
	&__family {
		max-width: 456px;
		left: 0px;
		bottom: 220px;
	}
	&__prods {
		max-width: 425px;
		margin-left: auto;
		top: -40px;
	}
	&__prod-1 {
		max-width: 400px;
	}
	&__prod-2 {
		max-width: 190px;
	}
	.form {
		margin-left: 17px;
	}
  }
}
@media screen and (max-width: 1250px){
	.header {
		.form::after {
			display: none;
		}
	}
}
@media screen and (max-width: 1190px){
  .header {
  	margin-bottom: 30px;
  	&__title {
  		font-weight: 700;
  		b {
  			font-weight: 700;
  		}
  	}
  	&__top {
  		max-width: none;
  	}
  	&__content {
  		margin-top: 40px;
  	}
	&__family {
		// max-width: 456px;
		// left: 300px;
		// bottom: 180px;
		display: none;
	}
	&__prods {
		max-width: 500px;
		position: absolute;
		top: auto;
		bottom: 0px;
		right: 54%;
		transform: translateX(50%);
	}
	&__prod-1 {
		max-width: 420px;
	}
	&__prod-2 {
		max-width: 190px;
		right: 36px;
		bottom: 7px;
	}
	&__about {
		max-width: none;
		order: -1;
		position: relative;
	}
	&__title {
		line-height: 1;
		.green {
			display: inline;
			font-size: 52px;
		}
	}
	&__list {
		margin-top: 18px;
		padding-top: 24px;
		
	}
	&__item {
		margin-bottom: 12px;
		max-width: 454px;
		font-size: 21px;
		br {
			display: none;
		}
	}
	&__age {
		&::before {
			display: none;
		}
	}
	.form {
		margin-left: auto;
	}
  }
  .prod-benefits {
  	&__list {
  		padding-bottom: 30px;
  	}
	&__item {
		font-size: 21px;
		&::before {
			height: 50px;
		}
		&::after {
			right: -50px;
		}
	}
  }
}
@media screen and (max-width: 1023px){
  .header {
  	margin-bottom: 20px;
	&__top {
		flex-direction: column;
		align-items: center;
	}
	&__nav {
		order: -1;
		margin-bottom: 20px;
		width: 360px;
	}
	&__nav-list::before {
		left: 130px;
		height: 44px;
	}
	&__link {
		font-size: 17px;
		&::before {
			background-size: contain;
			height: 36px;
			width: 36px;
			top: 30%;
		}
	}
	&__logo {
		padding-left: 50px;
	}
	&__logo-text {
		width: 140px;
	}
	&__logo-sign {
		width: 40px;
	}
	&__logo-desc {
		line-height: 1.1;
	}
	&__content {
		margin-top: 15px;
	}
	&__title {
		text-align: center;
		font-size: 46px;
		.green {
			font-size: 46px;
		}
	}
	&__subtitle {
		text-align: center;
		margin-top: 5px;
		font-size: 22px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__item {
		padding-left: 0;
		padding-top: 42px;
		text-align: center;
		font-size: 18px;
		max-width: 356px;
		&::before {
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			height: 32px;
			width: 32px;
		}
	}
	&__age {
		margin-left: 100px;
		position: absolute;
		bottom: -32px;
		font-size: 18px;
	    padding: 10px 16px;
	}
	&__prods {
		position: relative;
		max-width: 476px;
		transform: none;
		right: auto;
		left: 0;
	}
	&__prod-2 {
		right: 21px;
	}
	&__family {
		display: block;
		max-width: 452px;
		bottom: 190px;
	}
  }
  .prod-benefits {
  	&__list {
  		padding-bottom: 20px;
  	}
  	&__item {
  		font-size: 18px;
  		padding-left: 45px;
  		&::before {
  			height: 40px;
  			width: 40px;
  			bottom: 4px;
  		}
  		&::after {
  			right: -20px;
  		}
  	}
  	
  }
}
@media screen and (max-width: 767px){
  .header {
  	padding-top: 18px;
  	margin-bottom: 30px;
  	&__subtitle {
  		padding: 0 50px;
  	}
	&__logo {
		display: none;
	}
	&__content {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}
	&__title {
		font-size: 42px;
		line-height: 32px;
		.green {
			display: block;
		}
	}
	&__subtitle {
		font-size: 19px;
		margin: 0;
		margin-top: 6px;
	}
	&__list {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 11px;
		padding-top: 18px;
	}
	&__item {
		padding-top: 0px;
		padding-left: 40px;
		text-align: left;
		font-size: 17px;
		&::before {
			height: 28px;
			width: 28px;
			background-size: 70%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__age {
		position: static;
		margin-left: 58px;
		margin-top: 0;
	}
	&__prods {
		right: auto;
		margin: 0;
		margin-top: 15px;
		max-width: 410px;
		position: relative;
	}
	&__prod-1 {
		max-width: 370px;
	}
	&__prod-2 {
		max-width: 160px;
		bottom: -20px;
		right: 16px;
	}
	.form {
		margin: 0;
		margin-top: 36px;
		margin-bottom: 30px;
	}
	&__family {
		display: none;
	}
  }
  .prod-benefits {
  	&__list {
  		padding-bottom: 12px;
  		flex-wrap: wrap;
  		justify-content: space-around;
  	}
  	&__item {
  		font-size: 17px;
  		&::after {
  			right: -16px;
  		}
  	}
  	&__item-2 {
  		&::after {
  			display: none;
  		}
  	}
  }
}
@media screen and (max-width: 479px){
  .header {
  	padding-top: 10px;
  	&__subtitle {
  		padding: 0 60px;
  	}
  	&__nav {
  		width: auto;
  		margin-bottom: 0px;
  	}
  	&__nav-list {
  		flex-direction: column;
  		padding-left: 30px;
  		&::before {
  			display: none;
  		}
  	}
  	&__nav-item {
  		margin-bottom: 10px;
  	}
  	&__link {
  		&::before {
  			height: 26px;
  			left: -30px;
  		}
  	}
  	&__content {
  		text-align: center;
  	}
  	&__title {
  		font-size: 36px;
  		.green {
  			font-size: 40px;
  			line-height: 1;
  		}
  	}
  	&__age {
  		margin-left: auto;
  		margin-right: auto;
  		font-size: 17px;
  	}
	&__prods {
		max-width: 310px;
		margin-top: 65px;
	}
	&__prod-1 {
		max-width: 290px;
		position: relative;
		right: 5px;
	}
	&__prod-2 {
		max-width: 120px;
		right: -5px;
		bottom: -14px;
	}
  }
  .prod-benefits {
  	&__item {
		padding-left: 0;
		padding-top: 40px;
		&::before {
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
		&::after {
			display: none;
		}
  	}
  }
}



@keyframes logoRotate {
	0% {
		transform: rotate(-320deg);
	}
}