.most-dangerous {
	background-image: url(../img/most-dangerous-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 70px;
}
@media screen and (max-width: 1190px){
  .most-dangerous {
  	.title {
  		padding: 0 100px;
  	}
  }
}
@media screen and (max-width: 1023px){
 .most-dangerous {
 	.title {
 		padding: 0;
 	}
 }
}
@media screen and (max-width: 767px){
 .most-dangerous {
 	background-position: calc(50% + 200px) -24px;
 }
}
@media screen and (max-width: 479px){

}