.reviews {
	padding-top: 84px;
    padding-bottom: 94px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 85% 0%;
    background-size: cover;
    &__list {
		margin-top: 42px;
		width: 1200px;
		margin-left: -13px;
    }
    .slick-list {
		width: 1200px;
	}
    &__item {
    	background-color: #fff;
    	outline: none;
    	margin: 0 15px;
    	text-align: center;
    	margin-top: 42px;
    	margin-bottom: 22px;
    	padding-top: 120px;
    	position: relative;
    	width: 370px;
    	box-shadow: 0 0 15px rgba(36, 66, 137, 0.1);
    }
    &__comparison {
    	display: flex;
    	justify-content: space-around;
    	margin-top: -157px;
    	position: relative;
    	p {
    		position: absolute;
    		top: 45%;
    	}
    	.reviews__img {
    		margin: 0;
    		position: relative;
    		right: 42px;
    		&:first-of-type {
    			box-shadow: 0 0 0 3px #fa7070;
    			left: 43px;
    		}
    	}
    }
    &__before {
    	left: 40px;
    }
    &__after {
		right: 14px;
    }
    &__img {
    	overflow: hidden;	
    	height: 124px;
    	width: 124px;
    	border-radius: 50%;
    	position: relative;
    	margin-top: -157px;
    	margin-left: auto;
    	margin-right: auto;
    	// position: absolute;
    	// left: 50%;
    	// top: -37px;
    	// transform: translateX(-50%);
    	box-shadow: 0 0 0 3px #f5c700;
    	img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			// width: 100%;
			height: auto;
    	}
    }
    &__name {
    	font-size: 24px;
    	font-weight: bold;
    	margin-top: 16px;
    	margin-bottom: 2px;
    }
    &__city {
    	font-size: 18px;
    	font-weight: 400;
    }
    &__logo {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	transform: rotate(-124deg);
		max-height: 69px;
		margin-top: -11px;
		position: relative;
		z-index: 0;
    }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	&__logo {
		height: 69px;
	}
	&__comparison {
		.reviews__img {
			right: 59px;
			&:first-of-type.reviews__img {
				left: 27px;
			}
		}
	}
}
    &__body {
    	max-height: 340px;
    	overflow: hidden;
    	margin-top: -15px;
    	margin-bottom: 33px;
    	transition: 0.5s;
    	&.open {
    		max-height: 1500px;
    		transition: 0.5s;
    	}
    }
    &__title {
    	font-size: 20px;
    	line-height: 1.2;
    	font-weight: 500;
    	padding: 0 10px;
    }
    &__text {
    	font-size: 18px;
    	line-height: 1.56;
    	margin-top: 10px;
    	padding: 0 22px;
    }
    &__btn {
    	font-size: 0;
    	background-color: #28998b;
    	border-radius: 50%;
    	border: none;
    	height: 36px;
    	width: 36px;
    	cursor: pointer;
    	position: absolute;
    	outline: none;
    	bottom: -19px;
    	left: 50%;
    	transform: translateX(-50%);
    	transition: 0.2s;
    	&::before,
    	&::after {
    		content: '';
    		display: block;
    		position: absolute;
    		height: 16px;
    		width: 2px;
    		background-color: #fff;
    		top: 50%;
    		left: 50%;
    		transform: translateX(-50%) translateY(-50%);
    		transition: 0.3s;
    	}
    	&::after {
    		transform: translateX(-50%) translateY(-50%) rotate(90deg);
    	}
    	&.open {
    		background-color: #fdd110;
			transition: 0.2s;
    		&::before,
    		&::after {
    			background-color: #000;
    		}
    		&::before {
	    		transform: translateX(-50%) translateY(-50%) rotate(90deg);
	    	}
    	}
    }
	// slick
	
	.slick-arrow {
        width: 40px;
        height: 24px;
        background: url('../img/symptoms-arrow.svg') 0 0 no-repeat;
        transition: .2s;
        z-index: 10;
    }

    .slick-next {
        right: -50px;
		top: 327px;
        &::before {
            font-size: 0;
        }

        &:hover {
            background: url('../img/symptoms-arrow-hover.svg') 0 0 no-repeat;
        }
    }

    .slick-prev {
        left: -46px;
        transform: rotate(180deg);
		top: 314px;
        &::before {
            font-size: 0;
        }

        &:hover {
            background: url('../img/symptoms-arrow-hover.svg') 0 0 no-repeat;
        }
    }
    .slick-dots {
    	bottom: -46px;
    }
    .slick-dots button::before {
    	content: '';
		height: 12px;
		width: 12px;
		background-color: #fff;
		opacity: 1;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: 0.2s;
    }
    .slick-dots button::after {
		content: '';
		display: block;
		position: absolute;
		width: 0px;
		height: 0px;
		background-color: #f3cb18;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: 0.1s;
		border-radius: 50%;
    }
    .slick-dots .slick-active button::before {
		width: 24px;
		height: 24px;
		transition: 0.2s;
		box-shadow: 0 0 15px rgba(36, 66, 137, 0.1);
    }
    .slick-dots .slick-active button::after {
    	transition: 0.4s;
    	width: 14px;
    	height: 14px;
    }
}
@media screen and (max-width: 1350px){
	.reviews {
		&__list {
			
		}
		.slick-next {
	        right: 31px;
			top: 209px;
    	}

	    .slick-prev {
	        left: 31px;
	        transform: rotate(180deg);
			top: 197px;
	    }
	}
}
@media screen and (max-width: 1210px){
	.reviews {
		&__list {
			width: 1170px;
			margin-left: auto;
			margin-right: auto;
		}
		.slick-list {
			width: 1170px;
		}
	}
}
@media screen and (max-width: 1190px){
  .reviews {
	&__list {
		width: 910px;
	}
	.slick-list {
		width: 910px;
	}
	&__item {
		margin-left: 6px;
		margin-right: 6px;
		max-width: 304px;
	}
	.reviews__before {
		left: 30px;
	}
	.reviews__after {
		right: 8px;
	}
	&__img {
		height: 110px;
		width: 110px;
		img {
			width: 100%;
		}
	}
	&__name {
		font-size: 21px;
		margin-top: 11px;
	}
	&__city {
		font-size: 17px;
	}
	&__logo {
		max-height: 62px;
	}
	&__body {
		max-height: 282px; 
	}
	&__title {
		font-size: 18px;
		padding: 0 4px;
	}
	&__text {
		font-size: 15px;
		padding: 0 16px;
	}
	&__btn {
		height: 30px;
		width: 30px;
		bottom: -15px;
	}
	.slick-next {
        right: -42px;
		top: 258px;
	}
    .slick-prev {
        left: -40px;
		top: 246px;
    }
    .slick-dots {
    	bottom: -32px;
    }
    
  }
}
@media screen and (max-width: 1023px){
	.reviews {
		&__list {
			max-width: 680px;
			width: auto;
			margin-top: 20px;
		}
		.slick-list {
			max-width: 680px;
		}
		&__item {
			margin-left: 20px;
			margin-right: 20px;
			// max-width: none;
		}
		&__name {
			font-size: 20px;
		}
		.slick-dots button::before {
			height: 10px;
			width: 10px;
	    }
	    .slick-dots .slick-active button::before {
			width: 20px;
			height: 20px;
			box-shadow: 0 0 12px rgba(36, 66, 137, 0.1);
	    }
	    .slick-dots .slick-active button::after {
	    	width: 12px;
	    	height: 12px;
	    }
	    .slick-next {
	        right: -32px;
			top: 258px;
		}
	    .slick-prev {
	        left: -30px;
			top: 246px;
	    }
	}
}
@media screen and (max-width: 767px){
	.reviews {
		&__list {
			max-width: 400px;		
		}
		.slick-list {
			width: auto;
		}
		&__item {
			max-width: 400px;
		}
		&__text {
			padding: 0 45px;
		}
	}
}
@media screen and (max-width: 479px){
	.reviews {
		&__list {
			max-width: 310px;
			margin-top: 0px;		
		}
		&__comparison {
			margin-top: -132px;
		}
		&__img {
			height: 80px;
			width: 80px;
			margin-top: -132px;
		}
		&__name {
			font-size: 18px;
		}
		&__city {
			font-size: 15px;
		}
		&__logo {
			max-height: 55px;
		}
		&__title {
			font-size: 16px;
		}
		&__text {
			padding: 0 10px;
			br {
				display: none;
			}
		}
		 .slick-next {
	        right: 4px;
			top: 158px;
		}
	    .slick-prev {
	        left: 4px;
			top: 146px;
	    }
	    .slick-dots {
	    	bottom: -22px;
	    }
	}
}