.doctor {
	padding-top: 80px;
	padding-bottom: 80px;
	&__tabs {
		display: flex;
		max-width: 686px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		margin-top: 43px;
	}
	&__tab {
		padding: 14px;
		text-align: center;
		width: 100%;
		max-width: 333px;
		border: 3px solid #cfe1d7;
		background-color: #fff;
		border-radius: 5px;
		font-size: 22px;
		cursor: pointer;
		position: relative;
		// transition: 0.3s;
		&::after {
				content: '';
			    position: absolute;
			    display: none;
			    background-color: inherit;
			    border-bottom: 4px solid #199589;
			    border-right: 4px solid #199589;
			    height: 18px;
			    width: 18px;		
			    transform:  scaleY(0.6) translateX(-50%) rotate(45deg) ;
			    bottom: -13px;
			    left: 50%;
			}
		&.active {
			border: 3px solid #199589;
			font-weight: 500;
			transition: 0.3s;
			&::after {
				display: block;
				 animation: doctor-active 0.4s 1;
			}
		}
	}
	&__content {
		display: flex;
		margin-top: 50px;
		display: none;
		justify-content: space-between;
		&.active {
			display: flex;

		}
	}
	&__img {
		background-color: #fff;
		box-shadow: 0 0 15px rgba(36, 66, 137, 0.1);
		border-radius: 10px;
		padding: 10px;
		text-align: center;
		margin: 0;
		margin-right: 31px;
		padding-bottom: 23px;
		min-height: 583px;
		img {
			height: auto;
			max-width: 350px;
			border-radius: 6px;
			display: block;
		}
	}
	
	&__caption {
		margin-top: 0px;
		position: relative;
		padding-top: 40px;
	}
	&__logo {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    left: 51%;
	    top: 0;
	    transform: translateX(-50%) rotate(-124deg);
	    max-height: 48px;
	    max-width: none;
	    position: absolute;
	    z-index: 0;
	   
	}
	&__name {
		font-size: 22px;
		font-weight: 500;
		margin-top: 3px;
	}
	&__who {
		font-size: 17px;
		font-style: italic;
		line-height: 22px;
		color: #555;
		margin-top: 6px;
		padding: 0 20px;
	}
	&__text {
		p {
			margin-top: 26px;
			font-size: 18px;
			line-height: 26px;
			color: $text-gray;
		}
		b {
			color: #000;
		}
	}
	&__quote {
		font-size: 22px;
		display: inline-block;
		font-weight: 500;
		background-color: #ecf3f9;
		padding: 22px 28px;
		border-radius: 70px;
		margin-bottom: 2px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 5px;
			width: 40px;
			background-color: #fbd010;
			top: 0;
			left: 40px;
		}
	}
}
@media screen and (max-width: 1190px){
  
}
@media screen and (max-width: 1023px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 479px){

}

@keyframes doctor-active {
  0% {  
    	transform: scaleY(0) translateX(-50%) rotate(45deg) ; 
    	
	}
  	 
}