.how-use {
	padding-top: 84px;
    padding-bottom: 94px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 103%;
    &__list {
    	display: flex;
    	justify-content: space-between;
    	margin-top: 63px;
    	counter-reset: section;
    }
    &__item {
    	max-width: 370px;
        width: 100%;
    }
    &__img {
    	background-color: #fff;
    	position: relative;
    	max-width: 370px;
        width: 100%;
    	min-height: 325px;
    	border-radius: 5px;
    	box-shadow: 0 0 15px rgba(36, 66, 137, 0.1);
    	&::before {
    		counter-increment: section;
    		content: "" counter(section);
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		position: absolute;
    		font-size: 26px;
    		font-weight: bold;
    		color: #fff;
    		height: 39px;
    		width: 39px;
    		border-radius: 50%;
    		background-color: #199489;
    		z-index: 2;
    		box-shadow: 0 0 0 6px #bde6e2;
    		left: 50%;
    		top: -15px;
    		transform: translateX(-50%);
    	}
    	&::after {
    		content: '';
    		display: block;
    		position: absolute;
    		background-color: #fbd010;
    		left: 50%;
    		bottom: -5px;
    		height: 5px;
    		width: 40px;
    		transform: translateX(-50%);
    	}
    	img {
    		position: absolute;
    		height: auto;
    		max-width: 372px;
            width: 100%;
    		left: 50%;
    		bottom: 0%;
    		transform: translateX(-50%);
    		border-radius: 5px;
    	}
    }
	&__text {
		font-size: 22px;
		line-height: 1.3;
		text-align: center;
		font-weight: 500;
		margin-top: 25px;
	}
	&__conclusion {
		background-color: $bg-green;
		color: #fff;
		font-size: 27px;
		line-height: 1.2;
		font-weight: 400;
		text-align: center;
		padding: 34px 60px;
		padding-bottom: 32px;
		margin-top: 43px;
		position: relative;
		b {
			font-size: 28px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			margin-bottom: 9px;
		}
		&::before {
		    content: '';
		    display: block;
		    position: absolute;
		    height: 22px;
		    width: 22px;
		    background-image: url(../img/bg.jpg);
		    background-repeat: no-repeat;
		    background-position: 50% 0%;
		    left: 50%;
		    top: -11px;
		    transform: translateX(-50%) scaleY(0.64) rotate(45deg);
		}
	}
}
@media screen and (max-width: 1190px){
  .how-use {
    &__list {
        margin-top: 45px;
    }
    &__item {
        max-width: 310px;
    }
    &__img {
        min-height: 280px;
    }
    &__text {
        font-size: 20px;
        margin-top: 18px;
        line-height: 1.2;
    }
    &__conclusion {
        margin-top: 30px;
        font-size: 24px;
        line-height: 1.1;
        padding: 26px 60px;
        b {
            font-size: 25px;
            margin-bottom: 3px;
        }
    }
  }
}
@media screen and (max-width: 1023px){
    .how-use {
        background-size: cover;
        &__list {
            margin-top: 35px;
        }
        &__item {
            max-width: 240px;
        }
        &__img {
            min-height: 220px;
            &::before {
                font-size: 24px;
                height: 32px;
                width: 32px;
            }
        }
        &__text {
            font-size: 18px;
            line-height: 1.1;
            margin-top: 15px;
        }
        &__conclusion {
            margin-top: 25px;
            padding: 14px 4px;
            font-size: 21px;
            line-height: 1;
            b {
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .how-use {
        &__list {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            max-width: 220px;
            &:last-of-type {
                margin-top: 28px;
            }
        }
        &__img {
            min-height: 198px;
        }
        &__text {
            font-size: 17px;
        }
        &__conclusion {
            margin-top: 18px;
            font-size: 17px;
            padding: 14px 10px;
            b {
                font-size: 19px;
            }
        }
    }
}
@media screen and (max-width: 479px){
    .how-use {
        &__item {
            &:nth-of-type(2) {
                margin-top: 28px;
            }
        }
        &__conclusion {
            font-size: 15px;
            padding: 14px 5px;
            b {
                font-size: 17px;
            }
        }
    }
}