doctype html
html
  head
    meta(charset="utf-8")
    title Купить Левифрил недорого. Цены, отзывы. Закажите Левифрил сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/A_header.html
    include ../common/B_symptoms.html
    include ../common/C_most-dangerous.html
    include ../common/D_harmful.html
    include ../common/E_about.html
    include ../common/F_reviews.html
    include ../common/G_comparison.html
    include ../common/H_components.html
    include ../common/I_doctor.html
    include ../common/J_result.html
    include ../common/K_certificates.html
    include ../common/L_how-use.html
    include ../common/M_how-order.html
    include ../common/N_header-bottom.html
    include ../common/O_footer.html
    include ../common/P_popup.html
    
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')
